*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 5.2rem;
}

body{
   background-color: rgb(37, 35, 42);
   color: white;
}
main{
    padding: 6rem 4rem;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
h1{
    font-size: 3rem;
    text-shadow: 2px 2px 1px red,4px 4px 1px orange;
}
h3{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px red,2px 2px 1px orange;
}
p{
    text-indent: 50px;
    letter-spacing: 2px;
    margin:1rem 0;
    line-height: 1.8;
    font-size: 1.2rem;
}
img.profile-img{
    border-radius: 50%;
    width: 200px;
    box-shadow:5px 5px 10px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img-container{
    position: relative;
    display: grid;
    place-content: center;
}
.img-border{
    width: 220px;
    height: 220px;
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
a{
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
}
.view-link:hover{
    color: red;
}
button{
    margin: 1rem 0;
    padding:.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(197, 138, 0);
    color: white;
    font-weight: 900;
    cursor: pointer;
}
button:hover{
    background-color: rgb(255, 179, 0);
}
nav{
    position: fixed;
    z-index: 10;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000003a;
    padding: 1rem 4rem;
    backdrop-filter: blur(10px);
}
nav h1{
    text-shadow: 2px 2px 1px red,4px 4px 1px orange,6px 6px 10px #ffff0092;
}
nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    text-shadow: 0px 0px 1px red,0px 0px 1px orange;
    transition: all .2s linear;
}
nav ul a:hover{
    text-shadow: 2px 2px 1px red,4px 4px 1px orange;
}
.gallery-container{
    margin-top: 200px;
}

.gallery-container h2{
    font-size: 3rem;
    text-decoration: underline;
    margin: 2rem 0px;
    text-underline-offset: 10px;
    text-shadow: 2px 2px 1px red,4px 4px 1px orange;
}
.gallery{
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    padding: 4rem;
    background-color: #00000066;
    border-radius: 25px;
    grid-template-columns: repeat(2,1fr);
    
}
.gallery .img-container {
    position: relative;
    place-self: center;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #00000078;
    cursor: pointer;
    transition: all 0.2s linear;

}



.gallery:has(.img-container:hover) .img-container:not(:hover){
    filter: grayscale(100%) brightness(50%);
}
.gallery .img-container h3{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    text-shadow: 5px 5px 2px #00000088;
    opacity: 0;
    transition: all .2s linear;
}
.gallery .img-container:hover{
    z-index: 1;
    scale: 1.1;
    box-shadow: 6px 6px 10px #00000078;
}
.gallery .img-container:hover img{
    filter: blur(5px) brightness(90%);
    
}
.gallery .img-container:hover h3{
    opacity: 1;
}
.gallery img{
    width: 300px;
    transition: all .2s linear;
}

.about main{
    display: grid;
    place-content: center;
    height: 100vh;
}

.about table{
    width: 90vh;
    color: black;
    border-radius: 20px;
    box-shadow: 8px 8px 1px red, 16px 16px 1px orange;
}

.about table tr{
    backdrop-filter: blur(5px);
    background-color: #e8e8e8bb;
    box-shadow: 5px 5px 10px #00000080;
    border-radius: 20px;
    cursor: pointer;
}
.about table tr:hover th{
    background-color: red;
}
.about table tr:hover td{
    background-color: orange;
}
.about table td{
    padding: 2rem 4rem;
}
.about table th{
    background-color: #e6e6e6df;
}

.about table tr:first-child th{
    border-radius: 20px 0px 0px 0px;
}

.about table tr:first-child td{
    border-radius: 0px 20px 0px 0px;
}

.about table tr:last-child th{
    border-radius: 0px 0px 0px 20px;
}

.about table tr:last-child td{
    border-radius: 0px 0px 20px 0px;
}
@media screen and (min-width: 1108px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  


  @media screen and (min-width:   2364px) {
    .gallery {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  